<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>註冊</title>
</head>
<body>
    <h1>註冊</h1>
    {% if message %}
        <p style="color: green;">{{ message }}</p>
    {% elif error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    <form method="POST" action="{{ url_for('deliver.register_deliver') }}">
        <label for="username">姓名：</label>
        <input type="text" id="username" name="username" required><br>

        <label for="password">密碼：</label>
        <input type="password" id="password" name="password" required><br>

        <label for="phone">電話：</label>
        <input type="text" id="phone" name="phone" required><br>

        <label for="car_num">車牌號碼：</label>
        <input type="text" id="car_num" name="car_num" required><br>

        <button type="submit">註冊</button>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flash-messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
    </form>
</body>
</html>
