<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>主頁</title>
  <link rel="stylesheet" href="..\static\css\style.css">
</head>
<header>
  <h2>功能表</h2>
  <nav style="position: absolute; right: 10px; top: 10px;">
      <a href="{{ url_for('auth.logout') }}" style="color: #353589;">登出</a>
  </nav>
</header>
<body>

  <!-- <div class="test">
    <h2>如果是剛註冊第一次登入請先修改餐廳資訊</h2></br>
  </div> -->

  <div class="container">
    <a href="{{ url_for('restaurant.menu_res') }}"><button>menu</button></a><br><br>
    <a href="{{ url_for('restaurant.order_function') }}"><button>order</button></a><br><br>
    <a href="{{ url_for('restaurant.restaurant_info') }}"><button>餐廳資訊</button></a><br><br>
    
  </div>

</body>
</html>