<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>菜單</title>
    <link rel="stylesheet" href="..\static\css\style.css">

</head>
<body>
    <header>
        <h2>已經上架的菜品</h2>
    </header>
    
    <br><a href="{{ url_for('restaurant.add_menu') }}"><button>新增</button></a>
    <a href="{{ url_for('restaurant.host_res') }}" class="back-link"><button>返回</button></a>

    <br><table id="dataTable">
        <thead>
            <tr>
                <th>菜圖</th>
                <th>菜名</th>
                <th>售價</th>
                <th>介紹</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <td><img src="{{ url_for('static', filename=item.filename) }}" alt="{{ item.name }}"></td>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.description }}</td>
                
                <td>
                    <!-- <form action="{{ url_for('restaurant.edit_res',menu_id=item.menu_id) }}" method="post">  
                        <input type="hidden" name="menu_id" value="{{ item.menu_id }}">
                        <br><button type="submit" class="action-link">編輯</button>
                    </form> -->
                    <button type="button" class="action-link" onclick="location.href='{{ url_for('restaurant.edit_res', menu_id=item.menu_id) }}'">
                        編輯
                    </button>
                    
                </td>
            </tr> 
            {% endfor %}
        </tbody>
    </table>
</body>

</html>