<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>訂單</title>
    <link rel="stylesheet" href="..\static\css\style.css">
</head>
<body>
  <header>
    <h2>訂單系統</h2>
</header>
     <div class="container">
         <a href="{{ url_for('restaurant.print_order') }}" class="button"><button>查看未處理</button></a><br><br>
         <a href="{{ url_for('restaurant.print_order_processing') }}" class="button"><button>查看處理中</button></a><br><br>
         <a href="{{ url_for('restaurant.print_order_complete') }}" class="button"><button>查看已完成</button></a><br><br>
         <a href="{{ url_for('restaurant.host_res') }}" class="button"><button>返回</button></a><br><br>
    </div>
    
    </body>

    </html>
