<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ restaurant_name }} - 評論</title>
    <link rel="stylesheet" href="\static\css\style.css">
</head>
<body>
    <header>
        <h1>評論 - {{ restaurant_name }}</h1>
        <a href="{{ url_for('customer.menu',id=rest_id) }}">返回</a>
    </header>
    <main>
        {% if reviews %}
            <table>
                <thead>
                    <tr>
                        <th>顧客名稱</th>
                        <th>星數</th>
                        <th>評論內容</th>
                        <th>日期</th>
                    </tr>
                </thead>
                <tbody>
                    {% for review in reviews %}
                        <tr>
                            <td>{{ review.name }}</td>
                            <td>{{ review.star }}</td>
                            <td>{{ review.comment }}</td>
                            <td>{{ review.data }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>目前沒有評論。</p>
        {% endif %}
    </main>
</body>
</html>
