<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:\Users\User\Desktop\新css\static\style.css">
    <title>訂單詳情</title>
    
</head>
<body>
    <header>
        <h1>訂單詳情</h1>
    </header>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    {% if items %}
    <table>
        <thead>
            <tr>
                <th>菜品名稱</th>
                <th>單價</th>
                <th>數量</th>
                <th>總金額</th>
                <th>備註</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.item_name }}</td>
                <td>${{ item.price }}</td>
                <td>{{ item.quantity }}</td>
                <td>${{ item.total_price }}</td>
                <td>{{ item.note }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div style="text-align: center; margin-top: 20px;">
    {% if comment.order_id is none and comment.status == 'completed' %}  
        <a href="{{ url_for('customer.evaluate', order_id=order_id) }}">給個評價唄</a>
    {% endif %}
      
    </div>
{% else %}
    <p style="text-align: center; margin-top: 20px;">目前沒有任何訂單。</p>
{% endif %}
<a href="{{url_for('customer.orderhistory') }}">返回</a>
<footer>
    <p>@巴豆妖免歡樂娛樂平台</p>
</footer>
</body>
</html>
