<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>客人之家</title>
    <link rel="stylesheet" href="..\static\css\style.css">
</head>
<body>
    <header>
        <h1>今天吃什麼？</h1>
        <nav style="position: absolute; right: 10px; top: 10px;">
            <a href="{{ url_for('customer.homepage') }}" style="color: #353589;">回首頁</a>
        </nav>
    </header>
    
    
    <main>
        <h2>Restaurants</h2>
        <div class="restaurant-list">
            {% for restaurant in restaurants %}
            <div class="restaurant">
                <h3>{{ restaurant.restname }}</h3> <!-- 顯示餐廳名稱 -->
                <p>地址: {{ restaurant.addr }}</p> <!-- 顯示餐廳地址 -->
                <p>電話: {{ restaurant.phone }}</p> <!-- 顯示餐廳電話 -->
                <a href="{{url_for('customer.menu',id=restaurant.rest_id) }}" class="button">menu</a>
            </div>
            
            {% endfor %}
        </div>
    </main>

</body>
</html>
